[Unit]
Description=update public IP address
After=timer-sync.target network-online.target

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true

[Install]
WantedBy=timers.target
